<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<!--<add name="ConnectionString" connectionString="Data Source=ALPHA052\SQLEXPRESS;Initial Catalog=Testjig_DB;User Id=INTALPHA\bhagyashri.patil;Persist Security Info=true;Integrated Security=true;" providerName="System.Data.SqlClient" />
		<add name="ConnectionStringMaster" connectionString="SERVER=ALPHA052\SQLEXPRESS;Initial Catalog=Master;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />-->

		 <!--<add name="ConnectionString" connectionString="Data Source=alpha002\sqlgodrej;Initial Catalog=ESD_Testjig_DB;User Id=sa;Password=Alpha%03;Persist Security Info=false;Integrated Security=false;" providerName="System.Data.SqlClient" />
		<add name="ConnectionStringMaster" connectionString="SERVER=alpha002\sqlgodrej;Initial Catalog=Master;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />-->
		
		
		<!--Connection string used for Testing  BBP-->
		 
	  <!--<add name="ConnectionString" connectionString="Data Source=Alpha007\sqlgodrej;Initial Catalog=Testjig_DB;User Id=sa;Password=godrej;Persist Security Info=false;Integrated Security=false;" providerName="System.Data.SqlClient" />
	  <add name="ConnectionStringMaster" connectionString="SERVER=Alpha007\sqlgodrej;Initial Catalog=Master;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />-->
		
		
		 <!--<add name="ConnectionString" connectionString="Data Source=ALPHA002\SQLGODREJ;Initial Catalog=ESD_Testjig_DB;User Id=sa;Password=Alpha%03;Persist Security Info=false;Integrated Security=false;" providerName="System.Data.SqlClient" />		
		<add name="ConnectionStringMaster" connectionString="SERVER=ALPHA002\SQLGODREJ;Initial Catalog=Master;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />-->
		
		<!--<add name="ConnectionStringMaster" connectionString="Data Source=ALPHA002\SQLGODREJ;Initial Catalog=ESD_Testjig_DB;User Id=sa;Password=Alpha%03;Persist Security Info=false;Integrated Security=false;" providerName="System.Data.SqlClient" />-->
		
		<!--<add name="ConnectionString" connectionString="Data Source=acer\sqlgodrej;Initial Catalog=HotelLock_Testjig_DB;User Id=sa;Password=godrej@123;Persist Security Info=false;Integrated Security=false;" providerName="System.Data.SqlClient" />
    <add name="ConnectionStringMaster" connectionString="SERVER=acer\sqlgodrej;Initial Catalog=Master;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />-->
		
	</connectionStrings>
</configuration>